{
    "swagger": "2.0",
    "info": {
        "version": "0.0.1",
        "title": "The GeekHub Door",
        "contact": {
            "name": "info@geekhub.ck.ua"
        },
        "license": {
            "name": "MIT",
            "url": "https://opensource.org/licenses/MIT"
        }
    },
    "host": "api.the-door.pp.ua",
    "basePath": "/",
    "schemes": [
        "http"
    ],
    "securityDefinitions": {
        "api_key": {
            "type": "apiKey",
            "name": "api_key",
            "in": "header"
        }
    },
    "paths": {
        "/users": {
            "get": {
                "description": "Return list of users\nthat has access to the GeekHub Door\n",
                "security": [
                    {
                        "api_key": []
                    }
                ],
                "parameters": [
                    {
                        "in": "header",
                        "name": "api_key",
                        "description": "",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful response",
                        "schema": {
                            "title": "ArrayOfUserDevices",
                            "type": "array",
                            "items": {
                                "title": "Device",
                                "type": "object",
                                "properties": {
                                    "mac": {
                                        "type": "string"
                                    },
                                    "ukey": {
                                        "type": "boolean"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
